<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

</head>
<body>

	<div class="container">
		<h1 th:text="${message}"></h1>

		<a class="btn btn-sm btn-success" th:href="@{/products}"
			th:style="| margin-left: auto; margin-top: 40 px; margin-right: 10px; width: 170px;|">Go
			Back</a>

	</div>

</body>
</html>